@{
    ViewBag.Title = "Players";
}
<script src="~/Profile/PlayerApp.js"></script>
<script src="~/Profile/scripts/controllers/BoardGame.js"></script>
<script src="~/Profile/scripts/controllers/player.js"></script>
<script src="~/Profile/scripts/services/DataService.js"></script>
<script src="~/Profile/scripts/directives/searchBar.js"></script>
<div ng-app="PlayerApp" class="jumbotron">
  @*<h1> Welcome to teh b0rdgame page of d00m!1!1!1! </h1>*@
  
  <div ng-view>
    <div ng-controller="searchBarCtrl">
    <script type="text/ng-template" id="search-bar.html">
    </script>
    </div>
  </div>

</div>
