
<div class="input-group">
  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
</div>
<div class="jumbotron">
  <div class="container">
    <h1>hi</h1>
    Here the players boiiii
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
        <h3 class="display-3">Heres the player</h3>
      <div class="profile-header-container">
        <div class="profile-header-img">
          <img class="img-circle"/>
          <!-- badge -->
          <div class="rank-label-container">
            <span class="label label-default rank-label">100 puntos</span>
          </div>
        </div>
      </div>
      </div>
    <div class="col-md-3">
      <h3 class="display-3">Stats</h3>
      <p>here is some stupid filler dummy data for the stats</p>
    </div>
    <div class="col-md-6">
      <h3 class="display-3">Library</h3>
      <p>here is some stupid filler dummy data that we dont really care about</p>
    </div>
  </div>
</div>


