<div>
<div class="input-group">
  <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
</div>




<div class="container">
  <div class="row">
    <div class="col-md-3">
        <h3 class="display-3">{{user.name}}</h3>
      <div class="profile-header-container">
        <div class="profile-header-img">
          <img class="img-circle"/>
          <!-- badge -->
          <div class="rank-label-container">
            <span class="label label-default rank-label">{{user.medal}}</span>
          </div>
        </div>
      </div>
      </div>
    <div class="col-md-3">
      <h3 class="display-3">Stats</h3>
      <p>here is some stupid filler dummy data for the stats</p>
    </div>
    <div class="col-md-6">
      <div class="input-group">
        <h3 class="display-3">Library</h3>
        <label>add a boardgame to your collection</label>
        <div>
        <input type="search"  class="form-control searchbar" #input id="searchText" list="boardgame-list" placeholder="Search" ng-model="searchText" ng-model-options="{debounce: 200}" />
        <button ng-click="addGame(selectedBG)">Add Game</button>
        </div>
            <datalist id="boardgame-list" class="datalist scrollable" ng-model="selectedBG"  ng-select="addGame(selectedBG)" style="overflow-y: auto!important">
              <option  ng-repeat="BG in responseData"  value="{{BG.boardgame._value[0].name._value}}" data-id="{{BG.boardgame.objectid}}">{{BG.boardgame._value[1].yearpublished._value}}</option>
            </datalist>
          <span></span>
        </div>
      </div>
      
    </div>
  </div>
</div>

<script type="text/ng-template" id="addGame.html">
  <div class="modal-header">
    <h3 class="modal-title">{{pendingGame.name}}</h3>
  </div>
  <div class="modal-body">
    <img src="{{pendingGame.image}}" />

    <p>{{pendingGame.description}}</p>
    <div>min players: {{pendingGame.minPlayers}}</div>
    <div>max players: {{pendingGame.maxPlayers}}</div>
    <div>playing time: {{pendingGame.playingtime}}</div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>


