<div class="container">
  </br>
    <div class="input-group">
      <div id="searchBox">
        <input type="search" class="form-control searchbar" #input id="siteSearchText" list="site-search-list"
               placeholder="Search Internally" ng-model="siteSearchText" ng-model-options="{debounce: 250}" />
        <button ng-click="searchSite(siteSearchText)">Search</button>
      </div>
      <datalist id="site-search-list" class="datalist scrollable" ng-model="siteSearchValue"
                ng-select="searchSite(siteSearchValue)" style="overflow-y: auto!important">
        <option ng-repeat="result in siteSearchResponse" value="{{result.Name}}" >{{result.Type}}</option>
      </datalist>
      </div>
      <div class="row">
        <div class="col-md-2">
          <h3 >{{user.Name}}</h3>
          <div class="profile-header-container">
            <div class="profile-header-img">
              <img class="img-circle" src="{{user.ProfilePicPath}}" />
              <!-- badge -->
              <div class="rank-label-container">
                <span class="label label-default rank-label"><!--<button ng-snow="!otherProfile" ng-click="openImageUploadModal()"></button>--></span>
              </div>
              <div ng-show="!otherProfile">
                <button ng-click="uploadProfileModal()"><span class="glyphicon glyphicon-wrench"></span></button>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
        <!--<button ng-show="otherProfile" ng-click="addFriend(user.AspNetUser_Id)">Add as Friend</button>-->
        <div class="col-md-9 row panel-group ">
          <h3>Boardgames</h3>
          <div class = "col-md-12 pannelSection">
            <div class="panel panel-info col-md-4 panelStyle" ng-show="userStats.BGRecords.MostPlayed.length">
              <h4 class=" panelHeadder">Most Played</h4>
              <div class="panel-body panelBody">
                <h4 class="panel-text">{{userStats.BGRecords.MostPlayed[0].Name}}</h4>
                <div class="panel-subtitle">
                  <div>Plays:{{userStats.BGRecords.MostPlayed[0].Record.Plays}}</div>
                  <div>Wins:{{userStats.BGRecords.MostPlayed[0].Record.Wins}}</div>
                  <div>Losses:{{userStats.BGRecords.MostPlayed[0].Record.Losses}}</div>
                  <div>Win %: {{winPercentageEval(userStats.BGRecords.MostPlayed[0].Record.Wins, userStats.BGRecords.MostPlayed[0].Record.Losses)}}%</div>
                </div>
              </div>
            </div>
            <div class="panel panel-info col-md-4 panelStyle" ng-show="userStats.BGRecords.MostWon.length">
              <h4 class=" panelHeadder">Most Won</h4>
              <div class="panel-body panelBody">
                <h4 class="panel-text">{{userStats.BGRecords.MostWon[0].Name}}</h4>
                <div class="panel-subtitle">
                  <div>Plays:{{userStats.BGRecords.MostWon[0].Record.Plays}}</div>
                  <div>Wins:{{userStats.BGRecords.MostWon[0].Record.Wins}}</div>
                  <div>Losses:{{userStats.BGRecords.MostWon[0].Record.Losses}}</div>
                  <div>Win %: {{winPercentageEval(userStats.BGRecords.MostWon[0].Record.Wins, userStats.BGRecords.MostWon[0].Record.Losses)}}%</div>
                </div>
              </div>
            </div>
            <div class="panel panel-info col-md-4 panelStyle" ng-show="userStats.BGRecords.MostLost.length">
              <h4 class=" panelHeadder">Most Lost</h4>
              <div class="panel-body panelBody">
                <h4 class="panel-text">{{userStats.BGRecords.MostLost[0].Name}}</h4>
                <div class="panel-subtitle">
                  <div>Plays:{{userStats.BGRecords.MostLost[0].Record.Plays}}</div>
                  <div>Wins:{{userStats.BGRecords.MostLost[0].Record.Wins}}</div>
                  <div>Losses:{{userStats.BGRecords.MostLost[0].Record.Losses}}</div>
                  <div>Win %: {{winPercentageEval(userStats.BGRecords.MostLost[0].Record.Wins, userStats.BGRecords.MostLost[0].Record.Losses)}}%</div>
                </div>
              </div>
            </div>
            <!--<div class="panel panel-info col-md-4 panelStyle" ng-show="userStats.BGRecords.MostPlayed.length">
              <h4 class=" panelHeadder">Highest Win Percentage</h4>
              <div class="panel-body panelBody">
                <h4 class="panel-text">{{userStats.BGRecords.MostPlayed[0].Name}}</h4>
                <h6 class="panel-subtitle">
                  Plays:{{userStats.BGRecords.WinPercentage[0].Record.Plays}}
                  Wins:{{userStats.BGRecords.WinPercentage[0].Record.Wins}}
                  Losses:{{userStats.BGRecords.WinPercentage[0].Record.Losses}}
                  Win %: {{winPercentageEval(userStats.BGRecords.WinPercentage[0].Record.Wins, userStats.BGRecords.WinPercentage[0].Record.Losses)}} %
                </h6>
              </div>
            </div>-->
          </div>
          </br>
          </br>
          <h3>Players</h3>
          <div class = "col-md-12 pannelSection">
          <div class="panel panel-info col-md-4 panelStyle" ng-show="userStats.PlayerRelations.Buddies.length">
            <h4 class=" panelHeadder">Best Friend</h4>
            <div class="panel-body panelBody">
              <h4 class="panel-text">{{userStats.PlayerRelations.Buddies[0].Name}}</h4>
              <div class="panel-subtitle">
                <div>Plays:{{userStats.PlayerRelations.Buddies[0].Plays}}</div>
                <div>Wins:{{userStats.PlayerRelations.Buddies[0].Wins}}</div>
                <div>Losses:{{userStats.PlayerRelations.Buddies[0].Losses}}</div>
              </div>
            </div>
          </div>
          <div class="panel panel-info col-md-4 panelStyle" ng-show="userStats.PlayerRelations.Conqueror.length">
            <h4 class=" panelHeadder">Nemesis</h4>
            <div class="panel-body panelBody">
              <h4 class="panel-text">{{userStats.PlayerRelations.Conqueror[0].Name}}</h4>
              <div class="panel-subtitle">
                <div>Plays:{{userStats.PlayerRelations.Conqueror[0].Plays}}</div>
                <div>Wins:{{userStats.PlayerRelations.Conqueror[0].Wins}}</div>
                <div>Losses:{{userStats.PlayerRelations.Conqueror[0].Losses}}</div>
              </div>
            </div>
          </div>
          <div class="panel panel-info col-md-4 panelStyle" ng-show="userStats.PlayerRelations.Fodder.length">
            <h4 class=" panelHeadder">Weakest Opponent</h4>
            <div class="panel-body panelBody">
              <h4 class="panel-text">{{userStats.PlayerRelations.Fodder[0].Name }}</h4>
              <div class="panel-subtitle">
                <div>Plays:{{userStats.PlayerRelations.Fodder[0].Plays}}</div>
                <div>Wins:{{userStats.PlayerRelations.Fodder[0].Wins}}</div>
                <div>Losses:{{userStats.PlayerRelations.Fodder[0].Losses}}</div>
              </div>
            </div>
          </div>
        </div>
    </div>
        <div class="row bgsearch">
          <div class=" col-md-3"></div>
          <div class="col-md-6" >
            <div ng-show="!otherProfile" class="input-group bgsearch ">
              <h3>Library</h3>
              <label>add a boardgame to your collection</label>
              <div id="searchBox">
                <input type="search" class="form-control searchbar" #input id="searchText" list="boardgame-list" placeholder="Search BBG.com" ng-model="searchText" ng-model-options="{debounce: 250}" />
                <button ng-click="addGame(selectedBG)">Add Game</button>
              </div>
              <datalist id="boardgame-list" class="datalist scrollable" ng-model="selectedBG" ng-select="addGame(selectedBG)" style="overflow-y: auto!important">
                <option ng-repeat="BG in responseData" value="{{BG.boardgame._value[0].name._value}}" data-id="{{BG.boardgame.objectid}}">{{BG.boardgame._value[1].yearpublished._value}}</option>
              </datalist>
            </div>
            <div ng-show="Games.length!= 0">
              <h3 ng-show="!otherProfile">Your Library</h3>
              <h3 ng-show="otherProfile">{{user.Name}}'s Library</h3>
              <div>
                <div class="row">
                  <div>
                    <!--Body content-->
                    <table id="classes" class="table table-striped table-bordered table-hover">
                      <thead>
                        <tr>
                          <th></th>
                          <th>Name</th>
                          <th>Category</th>
                          <th>Players</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="BG in aGames">
                          <td ng-click="routeToGame(BG.Id)"><img class="media-object" src="{{BG.Image}}" alt="..." height="50" widht="50"></td>
                          <td class="listText" ng-click="routeToGame(BG.Id)">{{BG.Name}}</td>
                          <td class="listText">{{BG.Category}}</td>
                          <td> <div ng-show="(BG.MinPlayer&&BG.MaxPlayer)">{{BG.MinPlayer}}-{{BG.MaxPlayer}}</div></td>
                        </tr>
                      </tbody>
                    </table>
                    <ul uib-pagination total-items="totalItems" ng-model="currentPage" items-per-page="ItemsPerPage"
                        class="pagination-sm" boundary-links="true" num-pages="numPages" ng-change="pageChanged()"></ul>
                  </div>
                </div>
              </div>
            </div>
            <div ng-show="Games.length== 0">
              <h3 ng-show="!otherProfile">you have no games in your library Search games and add them</h3>
              <h3 ng-show="otherProfile">{{user.Name}}'s has no games in their library yet</h3>
            </div>
          </div>
          <div class=" col-md-3"></div>
        </div>
  </div>

<script type="text/ng-template" id="addGame.html">
  <div class="modal-header">
    <h3 class="modal-title">{{pendingGame.name}}</h3>
  </div>
  <div class="modal-body">
    <div class="row">
      <img class="col-md-3" src="{{pendingGame.image}}" />
      <div class="col-md-6">
        <div>min players: {{minPlayer}}</div>
        <div>max players: {{maxPlayer}}</div>
        <div>playing time: {{pendingGame.playingtime}}</div>
      </div>
    </div>
    <p ng-bind-html="renderHtml(pendingGame.description)"></p>
    
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
  </div>
</script>

<script type="text/ng-template" id="addProfilePic.html">
  <div class="modal-header">
    <h3 class="modal-title">Upload Profile Pic</h3>
  </div>
  <div class="modal-body">
    <form name="myForm">
      <div>Crop Image and Upload</div>
      <button ngf-select ng-model="picFile" accept="image/*">
        Select Picture
      </button>
      <div ngf-drop ng-model="picFile" ngf-pattern="image/*"
           class="cropArea">
        <img-crop image="picFile  | ngfDataUrl"
                  result-image="croppedDataUrl" ng-init="croppedDataUrl=''">
        </img-crop>
      </div>
      
      <button ng-click="upload(croppedDataUrl, picFile.name)">Submit</button>

      <span class="progress" ng-show="progress>=0">
        <p style="width:{{progress}}%" ng-bind="progress + '%'"></p>
      </span>
      <span ng-show="result">Upload Successful</span>
      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="close()">Close</button>
  </div>
</script>

