<div class="input-group">
  <div id="searchBox">
    <input type="search" class="form-control searchbar" #input id="siteSearchText" list="site-search-list"
           placeholder="Search Internally" ng-model="siteSearchText" ng-model-options="{debounce: 250}" />
    <button ng-click="searchSite(siteSearchText)">Search</button>
  </div>
  <datalist id="site-search-list" class="datalist scrollable" ng-model="siteSearchValue"
            ng-select="searchSite(siteSearchValue)" style="overflow-y: auto!important">
    <option ng-repeat="result in siteSearchResponse" value="{{result.Name}}">{{result.Type}}</option>
  </datalist>
</div>
howooooooooeeee im alive
