<appSettings>
  <!-- SendGrid-->
  <add key="mailAccount" value="azure_28590215a6770ea7e61b83816b93d23d@azure.com" />
  <add key="mailPassword" value="yaBoiPeber321" />
  <add key="SendGridAPIKey" value="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"/>

  <add key="GoogClientID" value="1.apps.googleusercontent.com" />
  <add key="GoogClientSecret" value="My Google client secret." />
  
</appSettings>
