@{
    ViewBag.Title = "Home Page";
}
  <script src="~/MainPage/BGCApp.js"></script>
<script src="~/MainPage/scripts/controllers/main.js"></script>
<script src="~/MainPage/scripts/controllers/about.js"></script>
<script src="~/MainPage/scripts/services/DataService.js"></script>
<script src="~/MainPage/scripts/services/UserService.js"></script>
  <div ng-app="BGCApp" class="jumbotron">
      @*<h1> Welcome to teh b0rdgame page of d00m!1!1!1! </h1>*@
      <br />
      
      <div ng-view></div>
    
  </div>
